.page__container {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    background-color: #000000;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
}

@media (min-width: 320px) and (max-width: 374px) {
    .page__container {
        max-width: 100%;
    }
}